BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
ColumnLimit: 120
AccessModifierOffset: -2
